.acquire-cnt .tit{
    text-align: center;
    padding-top: 1rem;
    font-size: 0.4rem;
}
.acquire-cnt .tit .stg{
    color: #ffa800;
}
.acquire-cnt .btn-def{
    width: 4rem;
    // height: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.6rem;
    font-size: 0.3rem;
    color: #592900;
}
.acquire-cnt .info{
    font-size: 0.28rem;
    padding: 0 0.34rem;
    margin-top: 1.5rem;
    color: #999;
    text-indent: 2em;
    line-height: 1.4;
}
.icon-doc:before{
    content: '';
    display: inline-block;
    width: 0.18rem;
    height: 0.22rem;
    background: url(../../images/icon-doc.png) no-repeat center;
    background-size: 0.18rem auto;
}