
.about{
    padding-top: 90px;
    background: #F8DD6A url(../../images/img0327/about-bd-1.png) no-repeat center -10px;
}
.about .wrap{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.about .section{
    margin-bottom: 58px;
}
.about .tit{
    text-align: center;
}
.about .tit span{
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #7A3F0A;
    line-height: 1;
    padding: 12px 50px;
    border-radius: 30px;
    background-color: #E69429;
}
.about .article{
    font-size: 18px;
    color: #542900;
    line-height: 1.7;
    margin-top: 60px;
}
.about .section-3{
    padding-bottom: 40px;
    margin-bottom: 0;
    background: url(../../images/img0327/about-bd-2.png) no-repeat 592px bottom;
}
.about .section-1 .pic{
    margin-top: 22px;
    height: 427px;
    background: url(../../images/img0327/about-sect1-bd.jpg) no-repeat center;
}
.about .section-2 .pic{
    margin-top: 62px;
    height: 180px;
    background: url(../../images/img0327/about-sect2-bd.png) no-repeat center;
}
.about .section-3 .pic{
    margin-top: 32px;
    height: 314px;
    background: url(../../images/img0327/about-sect3.png) no-repeat center;
}

