
.awardExplain-wrap{
  min-height: 100vh;
  padding-bottom: 0.3rem;
  background: #ffa800 url(../../images/award-bd.png) no-repeat left top;
  background-size: 100% auto;
}
.s-wrap{
  padding-left: 0.34rem;
  padding-right: 0.34rem;
}
.explain .tit{
  font-size:0.4rem;
  text-align: center;
  padding-top: 1rem;
}
.explain .artice{
  margin-top: 0.5rem;
  font-size: 0.3rem;
}
.explain .artice p{
  margin-top: 0.2rem;
  line-height: 1.5;
  text-indent: 2em;
}