

.notice-ban{
  height: 2.71rem;
  background: url(../../images/notice-bd.png) no-repeat center top;
  background-size: 100% auto;
}
.msg-list .tit{
  font-size: 0.32rem;
  color: #592900;
  padding: 0.12rem 0.34rem;
  line-height: 1.5;
  border-bottom: 1px solid #dfdfdf;
}
.msg-list .art{
  font-size: 0.26rem;
  color: #888;
  line-height: 1.8;
  padding: 0.28rem 0.34rem;
  border-bottom: 1px solid #dfdfdf;
}