
.playing-section{
  width: 100%;
  overflow: hidden;
}
.playing-section img{
  width: 100%;
  // transform:  translateZ(0) scale(1.32);
  // -o-transform:  translateZ(0) scale(1.32);
  // -ms-transform:  translateZ(0) scale(1.32);
  // -moz-transform:  translateZ(0) scale(1.32);
  // -webkit-transform:  translateZ(0) scale(1.32);
}