
.translist-list{
  padding-left: 0.34rem;
  padding-top: 0.14rem;
  padding-right: 0.34rem;
}
.translist-list li{
  padding: 0.32rem 0;
  font-size:0.28rem;
  color: #914400;
  line-height: 1.4;
  border-bottom: 1px solid #dfdfdf;
}
.translist-list h2{
  font-size: 0.3rem;
}
.translist-list em{
  font-style: normal;
  color: #FF9500;
}
.no-data{
  padding-top: .34rem;
  font-size:0.28rem;
  padding-left: 0.34rem;
  padding-right: 0.34rem;
}

.pull-load-head{
  transform: translate3d(0px, -0%, 0px);
 
}








